In [1]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import tensorflow as tf
from tensorflow.keras import datasets, layers, models, optimizers
from keras.callbacks import EarlyStopping

import time
from datetime import datetime

import pandas as pd
from numba import cuda
from datetime import datetime

In [2]:
def load_mnist_dataset(train_size=10000, flatten=True):
    """
    Load the MNIST data set consisting of handwritten single digit images 0-9
    formatted as 28 x 28 pixels with one channel (black and white)
    60000 images are for training
    10000 images are for testing
    This function reshapes the images as flattened 784 byte arrays, if needed
    The image bytes are normalized as float in [0,1]
    Y_train and Y_test are one-hot encoded for the 10 digit classes
    returns X_train, X_test, Y_train, Y_test
    """
    DIGIT_CLASSES = 10
    mnist = keras.datasets.mnist
    (X_train, Y_train), (X_test, Y_test) = mnist.load_data()

    #
    if flatten:
        #X_train is 60000 rows of 28x28 values --> reshaped in 60000 x 784
        RESHAPED = 784
        X_train = X_train.reshape(60000, RESHAPED)
        X_test = X_test.reshape(10000, RESHAPED)
    else:
        # Retain 2D image shape for CNN
        X_train = X_train.reshape((60000, 28, 28, 1))
        X_test = X_test.reshape((10000, 28, 28, 1))

            
    X_train = X_train.astype('float32')
    X_test = X_test.astype('float32')

    #normalize in [0,1]
    X_train /= 255
    X_test /= 255

    #one-hot
    Y_train = tf.keras.utils.to_categorical(Y_train, DIGIT_CLASSES)
    Y_test = tf.keras.utils.to_categorical(Y_test, DIGIT_CLASSES)
    ## Split off a smaller training sample of specified size and use
    ## the remainder of the training data as a validation set
    X_valid = X_train[train_size:]
    Y_valid = Y_train[train_size:]
    X_train = X_train[:train_size]
    Y_train = Y_train[:train_size]
    print(X_train.shape[0], 'train samples')
    print(X_valid.shape[0], 'validation samples')
    print(X_test.shape[0], 'test samples')
    
    return X_train, X_valid, X_test, Y_train, Y_valid, Y_test

In [3]:
X_train, X_valid, X_test, Y_train, Y_valid, Y_test = load_mnist_dataset(train_size=20000, flatten=False)

20000 train samples
40000 validation samples
10000 test samples

In [4]:
def create_CNN_Model1():
    DIGIT_CLASSES = 10
    IMG_ROWS, IMG_COLS = 28, 28 # input image dimensions
    INPUT_SHAPE = (IMG_ROWS, IMG_COLS, 1)
    model = models.Sequential()
    # CONV => RELU => POOL
    model.add(layers.Convolution2D(20, (5, 5), activation='relu',
        input_shape=INPUT_SHAPE))
    model.add(layers.MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
    # CONV => RELU => POOL
    model.add(layers.Convolution2D(50, (5, 5), activation='relu'))
    model.add(layers.MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
    # Flatten => RELU layers
    model.add(layers.Flatten())
    model.add(layers.Dense(500, activation='relu'))
    # a softmax classifier
    model.add(layers.Dense(DIGIT_CLASSES, activation="softmax"))
    return model
  
model1 = create_CNN_Model1()
model1.summary()
model1 = create_CNN_Model1

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 24, 24, 20)        520

 max_pooling2d (MaxPooling2D  (None, 12, 12, 20)       0
 )

 conv2d_1 (Conv2D)           (None, 8, 8, 50)          25050

 max_pooling2d_1 (MaxPooling  (None, 4, 4, 50)         0
 2D)

 flatten (Flatten)           (None, 800)               0

 dense (Dense)               (None, 500)               400500

 dense_1 (Dense)             (None, 10)                5010

=================================================================
Total params: 431,080
Trainable params: 431,080
Non-trainable params: 0
_________________________________________________________________

In [5]:
def create_CNN_Model2():
    DIGIT_CLASSES = 10
    IMG_ROWS, IMG_COLS = 28, 28 # input image dimensions
    INPUT_SHAPE = (IMG_ROWS, IMG_COLS, 1)
    model = models.Sequential()
    # CONV => RELU => POOL
    model.add(layers.Convolution2D(40, (3, 3), activation='relu', padding='same',
        input_shape=INPUT_SHAPE))
    model.add(layers.MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
    # CONV => RELU => POOL
    model.add(layers.Convolution2D(50, (3, 3), activation='relu', padding='same'))
    model.add(layers.MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
    # Flatten => RELU layers
    model.add(layers.Flatten())
    model.add(layers.Dense(500, activation='relu'))
    # a softmax classifier
    model.add(layers.Dense(DIGIT_CLASSES, activation="softmax"))
    return model

model2 = create_CNN_Model2()
model2.summary()
model2 = create_CNN_Model2

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_2 (Conv2D)           (None, 28, 28, 40)        400

 max_pooling2d_2 (MaxPooling  (None, 14, 14, 40)       0
 2D)

 conv2d_3 (Conv2D)           (None, 14, 14, 50)        18050

 max_pooling2d_3 (MaxPooling  (None, 7, 7, 50)         0
 2D)

 flatten_1 (Flatten)         (None, 2450)              0

 dense_2 (Dense)             (None, 500)               1225500

 dense_3 (Dense)             (None, 10)                5010

=================================================================
Total params: 1,248,960
Trainable params: 1,248,960
Non-trainable params: 0
_________________________________________________________________

In [6]:
def create_CNN_Model3():
    DIGIT_CLASSES = 10
    IMG_ROWS, IMG_COLS = 28, 28 # input image dimensions
    INPUT_SHAPE = (IMG_ROWS, IMG_COLS, 1)
    model = models.Sequential()
    # CONV => RELU => POOL
    model.add(layers.Convolution2D(40, (3, 3), activation='relu', padding='same',
        input_shape=INPUT_SHAPE))
    model.add(layers.MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
    # CONV => RELU => POOL
    model.add(layers.Convolution2D(50, (3, 3), activation='relu', padding='same'))
    model.add(layers.MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
    # CONV => RELU
    model.add(layers.Convolution2D(50, (3, 3), activation='relu', padding='valid'))
    # Flatten => RELU layers
    model.add(layers.Flatten())
    model.add(layers.Dense(500, activation='relu'))
    # a softmax classifier
    model.add(layers.Dense(DIGIT_CLASSES, activation="softmax"))
    return model

model3 = create_CNN_Model3()
model3.summary()
model3 = create_CNN_Model3

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_4 (Conv2D)           (None, 28, 28, 40)        400

 max_pooling2d_4 (MaxPooling  (None, 14, 14, 40)       0
 2D)

 conv2d_5 (Conv2D)           (None, 14, 14, 50)        18050

 max_pooling2d_5 (MaxPooling  (None, 7, 7, 50)         0
 2D)

 conv2d_6 (Conv2D)           (None, 5, 5, 50)          22550

 flatten_2 (Flatten)         (None, 1250)              0

 dense_4 (Dense)             (None, 500)               625500

 dense_5 (Dense)             (None, 10)                5010

=================================================================
Total params: 671,510
Trainable params: 671,510
Non-trainable params: 0
_________________________________________________________________

In [7]:
def create_CNN_Model4():
    DIGIT_CLASSES = 10
    IMG_ROWS, IMG_COLS = 28, 28 # input image dimensions
    INPUT_SHAPE = (IMG_ROWS, IMG_COLS, 1)
    model = models.Sequential()
    # CONV => RELU => CONV => RELU => POOL
    model.add(layers.Convolution2D(20, (3,3), activation='relu',
        input_shape=INPUT_SHAPE))
    model.add(layers.Convolution2D(50, (3,3), activation='relu'))
    model.add(layers.MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
    # CONV => RELU => CONV => RELU => POOL
    model.add(layers.Convolution2D(50, (3,3), activation='relu'))
    model.add(layers.Convolution2D(50, (3,3), activation='relu'))
    model.add(layers.MaxPooling2D(pool_size=(2, 2), strides=(2, 2)))
    # Flatten => RELU layers
    model.add(layers.Flatten())
    model.add(layers.Dense(500, activation='relu'))
    # a softmax classifier
    model.add(layers.Dense(DIGIT_CLASSES, activation="softmax"))
    return model
  
model4 = create_CNN_Model4()
model4.summary()
model4 = create_CNN_Model4

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_7 (Conv2D)           (None, 26, 26, 20)        200

 conv2d_8 (Conv2D)           (None, 24, 24, 50)        9050

 max_pooling2d_6 (MaxPooling  (None, 12, 12, 50)       0
 2D)

 conv2d_9 (Conv2D)           (None, 10, 10, 50)        22550

 conv2d_10 (Conv2D)          (None, 8, 8, 50)          22550

 max_pooling2d_7 (MaxPooling  (None, 4, 4, 50)         0
 2D)

 flatten_3 (Flatten)         (None, 800)               0

 dense_6 (Dense)             (None, 500)               400500

 dense_7 (Dense)             (None, 10)                5010

=================================================================
Total params: 459,860
Trainable params: 459,860
Non-trainable params: 0
_________________________________________________________________

In [8]:
def run_CNN_Model(model_name=None, model_fn=None, train_size=10000, verbose=0):
    OPTIMIZER = tf.keras.optimizers.Adam()
    BATCH_SIZE = 128
    EPOCHS = 200
    X_train, X_valid, X_test, Y_train, Y_valid, Y_test = load_mnist_dataset(train_size=train_size, flatten=False)
    
    ## invoke the passed in model creation function
    model = model_fn()
    
    model.compile(loss="categorical_crossentropy", optimizer=OPTIMIZER,
    metrics=["accuracy"])


    early_stopping = EarlyStopping(monitor='val_loss',verbose=1,patience=3,min_delta=0.00001)

    callbacks = [
        early_stopping,
    ]
    start_time = time.time()
    # fit 
    history = model.fit(X_train, Y_train,
                        batch_size=BATCH_SIZE, epochs=EPOCHS,
                        verbose=verbose, validation_data=(X_valid,Y_valid),
                        callbacks=callbacks)
    elapsed_time = time.time() - start_time

    test_loss, test_accuracy = model.evaluate(X_test, Y_test, verbose=1)
    print(f'training elapsed_time = {elapsed_time:10.1f}')
    print(f'{test_loss=}')
    print(f'{test_accuracy=}')
    return [model_name, train_size, elapsed_time, test_accuracy]

In [9]:
model_set = [('model1',model1),
             ('model2',model2),
             ('model3',model3),
             ('model4',model4),
            ]

In [10]:
def run_model_set(model_set, repeat=1):
    now = datetime.now()
    result_name = now.strftime("data/CNN_DATA_%Y-%m-%d_%H_%M.csv")
    results = []
    for i in range(repeat):
        for model_name, model in model_set:
            result = run_CNN_Model(model_name=model_name, model_fn=model, train_size=50000)
            results.append(result)
        df = pd.DataFrame(results)
        df.columns=['model_name','train_size','training_time','test_accuracy']
        display(df)
        print(f'Saving results to file {result_name}')
        df.to_csv(result_name,index=False)
    return results

## results = run_model_set(model_set, repeat=20)


# df = pd.DataFrame(results)
# df.columns=['model_name','train_size','training_time','test_accuracy']
# display(df)
# now = datetime.now()
# result_name = now.strftime("data/CNN_DATA_%Y-%m-%d_%H:%M.csv")
# print(f'Saving results to file {result_name}')

# df.to_csv(result_name,index=False)

In [11]:
# df = pd.DataFrame(results)
# df.columns=['model_name','train_size','training_time','test_accuracy']
# display(df)
# now = datetime.now()
# result_name = now.strftime("data/CNN_DATA_%Y-%m-%d_%H_%M.csv")
# print(f'Saving results to file {result_name}')

# df.to_csv(result_name,index=False)

In [12]:
df = pd.read_csv('data/CNN_DATA_2022-09-28_21_18.csv')
df

   model_name  train_size  training_time  test_accuracy
0      model1       50000      30.376704         0.9902
1      model2       50000      42.672199         0.9878
2      model3       50000      29.635418         0.9904
3      model4       50000      65.077671         0.9924
4      model1       50000      24.425643         0.9898
..        ...         ...            ...            ...
75     model4       50000      70.128883         0.9926
76     model1       50000      33.541008         0.9917
77     model2       50000      42.358860         0.9882
78     model3       50000      38.853625         0.9912
79     model4       50000      38.583587         0.9923

[80 rows x 4 columns]

In [ ]:
train_sizes = [50000, 20000, 10000, 5000, 2500, 1200, 600, 300]

def run_model_set_size(train_sizes=[50000], model_set=None, repeat=1):
    now = datetime.now()
    result_name = now.strftime("data/CNN_DATA_%Y-%m-%d_%H_%M.csv")
    results = []
    for train_size in train_sizes:
        for i in range(repeat):
            for model_name, model in model_set:
                result = run_CNN_Model(model_name=model_name, model_fn=model, train_size=train_size)
                results.append(result)
            df = pd.DataFrame(results)
            df.columns=['model_name','train_size','training_time','test_accuracy']
            display(df)
            print(f'Saving results to file {result_name}')
            df.to_csv(result_name,index=False)
    return results

results = run_model_set_size(train_sizes, model_set = model_set, repeat=4)

50000 train samples
10000 validation samples
10000 test samples
Epoch 7: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.0279 - accuracy: 0.9917
training elapsed_time =       24.0
test_loss=0.02791009284555912
test_accuracy=0.9916999936103821
50000 train samples
10000 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0414 - accuracy: 0.9893
training elapsed_time =       49.1
test_loss=0.04141027107834816
test_accuracy=0.989300012588501
50000 train samples
10000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0295 - accuracy: 0.9917
training elapsed_time =       46.4
test_loss=0.029500091448426247
test_accuracy=0.9916999936103821
50000 train samples
10000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0284 - accuracy: 0.9922
training elapsed_time =       52.3
test_loss=0.028429614380002022
test_accuracy=0.9922000169754028

  model_name  train_size  training_time  test_accuracy
0     model1       50000      23.973921         0.9917
1     model2       50000      49.130800         0.9893
2     model3       50000      46.421665         0.9917
3     model4       50000      52.340361         0.9922

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
50000 train samples
10000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.0333 - accuracy: 0.9903
training elapsed_time =       24.6
test_loss=0.0333203487098217
test_accuracy=0.9902999997138977
50000 train samples
10000 validation samples
10000 test samples
Epoch 7: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0374 - accuracy: 0.9883
training elapsed_time =       31.6
test_loss=0.03736558556556702
test_accuracy=0.9883000254631042
50000 train samples
10000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0351 - accuracy: 0.9887
training elapsed_time =       37.3
test_loss=0.035052597522735596
test_accuracy=0.9886999726295471
50000 train samples
10000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0282 - accuracy: 0.9927
training elapsed_time =       51.4
test_loss=0.028189895674586296
test_accuracy=0.9926999807357788

  model_name  train_size  training_time  test_accuracy
0     model1       50000      23.973921         0.9917
1     model2       50000      49.130800         0.9893
2     model3       50000      46.421665         0.9917
3     model4       50000      52.340361         0.9922
4     model1       50000      24.637258         0.9903
5     model2       50000      31.619771         0.9883
6     model3       50000      37.253684         0.9887
7     model4       50000      51.389733         0.9927

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
50000 train samples
10000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.0430 - accuracy: 0.9886
training elapsed_time =       27.4
test_loss=0.0429900623857975
test_accuracy=0.9886000156402588
50000 train samples
10000 validation samples
10000 test samples
Epoch 7: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0282 - accuracy: 0.9910
training elapsed_time =       31.3
test_loss=0.028223074972629547
test_accuracy=0.9909999966621399
50000 train samples
10000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0329 - accuracy: 0.9918
training elapsed_time =       41.7
test_loss=0.032853301614522934
test_accuracy=0.9918000102043152
50000 train samples
10000 validation samples
10000 test samples
Epoch 6: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0336 - accuracy: 0.9909
training elapsed_time =       38.8
test_loss=0.033568188548088074
test_accuracy=0.9908999800682068

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
50000 train samples
10000 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0270 - accuracy: 0.9930
training elapsed_time =       34.7
test_loss=0.026954755187034607
test_accuracy=0.9929999709129333
50000 train samples
10000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0281 - accuracy: 0.9918
training elapsed_time =       37.5
test_loss=0.02807743474841118
test_accuracy=0.9918000102043152
50000 train samples
10000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0397 - accuracy: 0.9898
training elapsed_time =       43.8
test_loss=0.03971239551901817
test_accuracy=0.989799976348877
50000 train samples
10000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0330 - accuracy: 0.9916
training elapsed_time =       52.9
test_loss=0.03295046091079712
test_accuracy=0.991599977016449

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
20000 train samples
40000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0465 - accuracy: 0.9863
training elapsed_time =       24.7
test_loss=0.04652630165219307
test_accuracy=0.986299991607666
20000 train samples
40000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0444 - accuracy: 0.9868
training elapsed_time =       26.7
test_loss=0.044423140585422516
test_accuracy=0.9868000149726868
20000 train samples
40000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0678 - accuracy: 0.9793
training elapsed_time =       27.6
test_loss=0.06775688380002975
test_accuracy=0.9793000221252441
20000 train samples
40000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0426 - accuracy: 0.9872
training elapsed_time =       41.6
test_loss=0.04259007051587105
test_accuracy=0.9872000217437744

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
20000 train samples
40000 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0457 - accuracy: 0.9860
training elapsed_time =       30.0
test_loss=0.045712146908044815
test_accuracy=0.9860000014305115
20000 train samples
40000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0516 - accuracy: 0.9843
training elapsed_time =       26.9
test_loss=0.05163680389523506
test_accuracy=0.9843000173568726
20000 train samples
40000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0431 - accuracy: 0.9870
training elapsed_time =       28.1
test_loss=0.04309315234422684
test_accuracy=0.9869999885559082
20000 train samples
40000 validation samples
10000 test samples
Epoch 7: early stopping
313/313 [==============================] - 1s 5ms/step - loss: 0.0453 - accuracy: 0.9866
training elapsed_time =       32.3
test_loss=0.04527390003204346
test_accuracy=0.9865999817848206

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
20000 train samples
40000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0474 - accuracy: 0.9858
training elapsed_time =       24.7
test_loss=0.04737954959273338
test_accuracy=0.98580002784729
20000 train samples
40000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0581 - accuracy: 0.9819
training elapsed_time =       32.1
test_loss=0.05811954289674759
test_accuracy=0.9818999767303467
20000 train samples
40000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0427 - accuracy: 0.9888
training elapsed_time =       32.9
test_loss=0.042670149356126785
test_accuracy=0.9887999892234802
20000 train samples
40000 validation samples
10000 test samples
Epoch 7: early stopping
313/313 [==============================] - 2s 5ms/step - loss: 0.0357 - accuracy: 0.9900
training elapsed_time =       31.8
test_loss=0.035709187388420105
test_accuracy=0.9900000095367432

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
20000 train samples
40000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0361 - accuracy: 0.9889
training elapsed_time =       20.3
test_loss=0.036112070083618164
test_accuracy=0.9889000058174133
20000 train samples
40000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0411 - accuracy: 0.9878
training elapsed_time =       26.8
test_loss=0.04108356684446335
test_accuracy=0.9878000020980835
20000 train samples
40000 validation samples
10000 test samples
Epoch 7: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0397 - accuracy: 0.9888
training elapsed_time =       24.1
test_loss=0.039665039628744125
test_accuracy=0.9887999892234802
20000 train samples
40000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0471 - accuracy: 0.9874
training elapsed_time =       45.9
test_loss=0.04708831012248993
test_accuracy=0.9873999953269958

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900
28     model1       20000      20.264612         0.9889
29     model2       20000      26.782878         0.9878
30     model3       20000      24.100489         0.9888
31     model4       20000      45.909297         0.9874

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
10000 train samples
50000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0546 - accuracy: 0.9815
training elapsed_time =       23.0
test_loss=0.05458557605743408
test_accuracy=0.9815000295639038
10000 train samples
50000 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0571 - accuracy: 0.9840
training elapsed_time =       33.5
test_loss=0.05714799836277962
test_accuracy=0.984000027179718
10000 train samples
50000 validation samples
10000 test samples
Epoch 7: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0621 - accuracy: 0.9804
training elapsed_time =       20.5
test_loss=0.062149859964847565
test_accuracy=0.980400025844574
10000 train samples
50000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0636 - accuracy: 0.9804
training elapsed_time =       31.3
test_loss=0.06364446878433228
test_accuracy=0.980400025844574

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900
28     model1       20000      20.264612         0.9889
29     model2       20000      26.782878         0.9878
30     model3       20000      24.100489         0.9888
31     model4       20000      45.909297         0.9874
32     model1       10000      22.979731         0.9815
33     model2       10000      33.523146         0.9840
34     model3       10000      20.513885         0.9804
35     model4       10000      31.285825         0.9804

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
10000 train samples
50000 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0538 - accuracy: 0.9836
training elapsed_time =       23.6
test_loss=0.053815990686416626
test_accuracy=0.9836000204086304
10000 train samples
50000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0601 - accuracy: 0.9826
training elapsed_time =       28.1
test_loss=0.06006576493382454
test_accuracy=0.9825999736785889
10000 train samples
50000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0644 - accuracy: 0.9814
training elapsed_time =       23.2
test_loss=0.06438196450471878
test_accuracy=0.9814000129699707
10000 train samples
50000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0697 - accuracy: 0.9814
training elapsed_time =       35.0
test_loss=0.06969275325536728
test_accuracy=0.9814000129699707

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900
28     model1       20000      20.264612         0.9889
29     model2       20000      26.782878         0.9878
30     model3       20000      24.100489         0.9888
31     model4       20000      45.909297         0.9874
32     model1       10000      22.979731         0.9815
33     model2       10000      33.523146         0.9840
34     model3       10000      20.513885         0.9804
35     model4       10000      31.285825         0.9804
36     model1       10000      23.636836         0.9836
37     model2       10000      28.106919         0.9826
38     model3       10000      23.217881         0.9814
39     model4       10000      34.960714         0.9814

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
10000 train samples
50000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0603 - accuracy: 0.9823
training elapsed_time =       22.1
test_loss=0.06034763902425766
test_accuracy=0.9822999835014343
10000 train samples
50000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0769 - accuracy: 0.9756
training elapsed_time =       23.4
test_loss=0.0768878161907196
test_accuracy=0.975600004196167
10000 train samples
50000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0572 - accuracy: 0.9822
training elapsed_time =       26.3
test_loss=0.057159874588251114
test_accuracy=0.982200026512146
10000 train samples
50000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0713 - accuracy: 0.9831
training elapsed_time =       34.7
test_loss=0.07130137085914612
test_accuracy=0.9830999970436096

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900
28     model1       20000      20.264612         0.9889
29     model2       20000      26.782878         0.9878
30     model3       20000      24.100489         0.9888
31     model4       20000      45.909297         0.9874
32     model1       10000      22.979731         0.9815
33     model2       10000      33.523146         0.9840
34     model3       10000      20.513885         0.9804
35     model4       10000      31.285825         0.9804
36     model1       10000      23.636836         0.9836
37     model2       10000      28.106919         0.9826
38     model3       10000      23.217881         0.9814
39     model4       10000      34.960714         0.9814
40     model1       10000      22.058530         0.9823
41     model2       10000      23.398826         0.9756
42     model3       10000      26.280156         0.9822
43     model4       10000      34.672834         0.9831

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
10000 train samples
50000 validation samples
10000 test samples
Epoch 8: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0553 - accuracy: 0.9813
training elapsed_time =       17.7
test_loss=0.05534470081329346
test_accuracy=0.9812999963760376
10000 train samples
50000 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0612 - accuracy: 0.9826
training elapsed_time =       33.7
test_loss=0.061228297650814056
test_accuracy=0.9825999736785889
10000 train samples
50000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0463 - accuracy: 0.9862
training elapsed_time =       29.0
test_loss=0.04632691293954849
test_accuracy=0.9861999750137329
10000 train samples
50000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 5ms/step - loss: 0.0819 - accuracy: 0.9779
training elapsed_time =       34.9
test_loss=0.08190010488033295
test_accuracy=0.9779000282287598

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900
28     model1       20000      20.264612         0.9889
29     model2       20000      26.782878         0.9878
30     model3       20000      24.100489         0.9888
31     model4       20000      45.909297         0.9874
32     model1       10000      22.979731         0.9815
33     model2       10000      33.523146         0.9840
34     model3       10000      20.513885         0.9804
35     model4       10000      31.285825         0.9804
36     model1       10000      23.636836         0.9836
37     model2       10000      28.106919         0.9826
38     model3       10000      23.217881         0.9814
39     model4       10000      34.960714         0.9814
40     model1       10000      22.058530         0.9823
41     model2       10000      23.398826         0.9756
42     model3       10000      26.280156         0.9822
43     model4       10000      34.672834         0.9831
44     model1       10000      17.686320         0.9813
45     model2       10000      33.726529         0.9826
46     model3       10000      28.951997         0.9862
47     model4       10000      34.928724         0.9779

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
5000 train samples
55000 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0718 - accuracy: 0.9781
training elapsed_time =       31.1
test_loss=0.07180042564868927
test_accuracy=0.9781000018119812
5000 train samples
55000 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0849 - accuracy: 0.9747
training elapsed_time =       31.8
test_loss=0.08494630455970764
test_accuracy=0.9746999740600586
5000 train samples
55000 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0782 - accuracy: 0.9775
training elapsed_time =       35.7
test_loss=0.07821626961231232
test_accuracy=0.9775000214576721
5000 train samples
55000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0867 - accuracy: 0.9754
training elapsed_time =       31.8
test_loss=0.08669575303792953
test_accuracy=0.9753999710083008

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900
28     model1       20000      20.264612         0.9889
29     model2       20000      26.782878         0.9878
30     model3       20000      24.100489         0.9888
31     model4       20000      45.909297         0.9874
32     model1       10000      22.979731         0.9815
33     model2       10000      33.523146         0.9840
34     model3       10000      20.513885         0.9804
35     model4       10000      31.285825         0.9804
36     model1       10000      23.636836         0.9836
37     model2       10000      28.106919         0.9826
38     model3       10000      23.217881         0.9814
39     model4       10000      34.960714         0.9814
40     model1       10000      22.058530         0.9823
41     model2       10000      23.398826         0.9756
42     model3       10000      26.280156         0.9822
43     model4       10000      34.672834         0.9831
44     model1       10000      17.686320         0.9813
45     model2       10000      33.726529         0.9826
46     model3       10000      28.951997         0.9862
47     model4       10000      34.928724         0.9779
48     model1        5000      31.098583         0.9781
49     model2        5000      31.770133         0.9747
50     model3        5000      35.650041         0.9775
51     model4        5000      31.802997         0.9754

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
5000 train samples
55000 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0709 - accuracy: 0.9786
training elapsed_time =       27.0
test_loss=0.07093504071235657
test_accuracy=0.978600025177002
5000 train samples
55000 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0905 - accuracy: 0.9773
training elapsed_time =       38.8
test_loss=0.09050261974334717
test_accuracy=0.9772999882698059
5000 train samples
55000 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0946 - accuracy: 0.9758
training elapsed_time =       32.1
test_loss=0.09463164955377579
test_accuracy=0.9757999777793884
5000 train samples
55000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0854 - accuracy: 0.9777
training elapsed_time =       35.0
test_loss=0.08543329685926437
test_accuracy=0.9776999950408936

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900
28     model1       20000      20.264612         0.9889
29     model2       20000      26.782878         0.9878
30     model3       20000      24.100489         0.9888
31     model4       20000      45.909297         0.9874
32     model1       10000      22.979731         0.9815
33     model2       10000      33.523146         0.9840
34     model3       10000      20.513885         0.9804
35     model4       10000      31.285825         0.9804
36     model1       10000      23.636836         0.9836
37     model2       10000      28.106919         0.9826
38     model3       10000      23.217881         0.9814
39     model4       10000      34.960714         0.9814
40     model1       10000      22.058530         0.9823
41     model2       10000      23.398826         0.9756
42     model3       10000      26.280156         0.9822
43     model4       10000      34.672834         0.9831
44     model1       10000      17.686320         0.9813
45     model2       10000      33.726529         0.9826
46     model3       10000      28.951997         0.9862
47     model4       10000      34.928724         0.9779
48     model1        5000      31.098583         0.9781
49     model2        5000      31.770133         0.9747
50     model3        5000      35.650041         0.9775
51     model4        5000      31.802997         0.9754
52     model1        5000      27.038170         0.9786
53     model2        5000      38.804580         0.9773
54     model3        5000      32.144772         0.9758
55     model4        5000      35.035350         0.9777

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
5000 train samples
55000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0830 - accuracy: 0.9729
training elapsed_time =       18.7
test_loss=0.08295357972383499
test_accuracy=0.9728999733924866
5000 train samples
55000 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0829 - accuracy: 0.9765
training elapsed_time =       38.5
test_loss=0.08289224654436111
test_accuracy=0.9764999747276306
5000 train samples
55000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1201 - accuracy: 0.9641
training elapsed_time =       23.9
test_loss=0.12014017254114151
test_accuracy=0.9641000032424927
5000 train samples
55000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 5ms/step - loss: 0.0825 - accuracy: 0.9742
training elapsed_time =       32.0
test_loss=0.08248261362314224
test_accuracy=0.9742000102996826

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
5      model2       50000      31.619771         0.9883
6      model3       50000      37.253684         0.9887
7      model4       50000      51.389733         0.9927
8      model1       50000      27.417426         0.9886
9      model2       50000      31.300445         0.9910
10     model3       50000      41.739284         0.9918
11     model4       50000      38.780883         0.9909
12     model1       50000      34.658397         0.9930
13     model2       50000      37.469406         0.9918
14     model3       50000      43.775591         0.9898
15     model4       50000      52.900645         0.9916
16     model1       20000      24.703045         0.9863
17     model2       20000      26.678273         0.9868
18     model3       20000      27.605299         0.9793
19     model4       20000      41.630528         0.9872
20     model1       20000      30.009071         0.9860
21     model2       20000      26.928062         0.9843
22     model3       20000      28.141297         0.9870
23     model4       20000      32.272099         0.9866
24     model1       20000      24.743764         0.9858
25     model2       20000      32.062807         0.9819
26     model3       20000      32.885876         0.9888
27     model4       20000      31.769130         0.9900
28     model1       20000      20.264612         0.9889
29     model2       20000      26.782878         0.9878
30     model3       20000      24.100489         0.9888
31     model4       20000      45.909297         0.9874
32     model1       10000      22.979731         0.9815
33     model2       10000      33.523146         0.9840
34     model3       10000      20.513885         0.9804
35     model4       10000      31.285825         0.9804
36     model1       10000      23.636836         0.9836
37     model2       10000      28.106919         0.9826
38     model3       10000      23.217881         0.9814
39     model4       10000      34.960714         0.9814
40     model1       10000      22.058530         0.9823
41     model2       10000      23.398826         0.9756
42     model3       10000      26.280156         0.9822
43     model4       10000      34.672834         0.9831
44     model1       10000      17.686320         0.9813
45     model2       10000      33.726529         0.9826
46     model3       10000      28.951997         0.9862
47     model4       10000      34.928724         0.9779
48     model1        5000      31.098583         0.9781
49     model2        5000      31.770133         0.9747
50     model3        5000      35.650041         0.9775
51     model4        5000      31.802997         0.9754
52     model1        5000      27.038170         0.9786
53     model2        5000      38.804580         0.9773
54     model3        5000      32.144772         0.9758
55     model4        5000      35.035350         0.9777
56     model1        5000      18.703579         0.9729
57     model2        5000      38.477572         0.9765
58     model3        5000      23.931009         0.9641
59     model4        5000      31.953768         0.9742

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
5000 train samples
55000 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 5ms/step - loss: 0.0750 - accuracy: 0.9759
training elapsed_time =       27.0
test_loss=0.07496989518404007
test_accuracy=0.9758999943733215
5000 train samples
55000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1250 - accuracy: 0.9624
training elapsed_time =       23.3
test_loss=0.12501518428325653
test_accuracy=0.9624000191688538
5000 train samples
55000 validation samples
10000 test samples
Epoch 14: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.0877 - accuracy: 0.9768
training elapsed_time =       38.5
test_loss=0.08769087493419647
test_accuracy=0.9768000245094299
5000 train samples
55000 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2116 - accuracy: 0.9470
training elapsed_time =       32.6
test_loss=0.2116369903087616
test_accuracy=0.9470000267028809

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
59     model4        5000      31.953768         0.9742
60     model1        5000      26.957251         0.9759
61     model2        5000      23.335083         0.9624
62     model3        5000      38.477599         0.9768
63     model4        5000      32.603929         0.9470

[64 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
2500 train samples
57500 validation samples
10000 test samples
Epoch 14: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1140 - accuracy: 0.9665
training elapsed_time =       28.6
test_loss=0.11399850994348526
test_accuracy=0.9664999842643738
2500 train samples
57500 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1335 - accuracy: 0.9625
training elapsed_time =       37.0
test_loss=0.1334536075592041
test_accuracy=0.9624999761581421
2500 train samples
57500 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1358 - accuracy: 0.9623
training elapsed_time =       34.4
test_loss=0.13576988875865936
test_accuracy=0.9623000025749207
2500 train samples
57500 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1566 - accuracy: 0.9604
training elapsed_time =       37.0
test_loss=0.15655574202537537
test_accuracy=0.9603999853134155

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
63     model4        5000      32.603929         0.9470
64     model1        2500      28.557075         0.9665
65     model2        2500      36.982910         0.9625
66     model3        2500      34.436275         0.9623
67     model4        2500      37.040409         0.9604

[68 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
2500 train samples
57500 validation samples
10000 test samples
Epoch 16: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1106 - accuracy: 0.9689
training elapsed_time =       32.1
test_loss=0.11055956035852432
test_accuracy=0.9689000248908997
2500 train samples
57500 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1226 - accuracy: 0.9631
training elapsed_time =       30.0
test_loss=0.12261392921209335
test_accuracy=0.963100016117096
2500 train samples
57500 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1248 - accuracy: 0.9624
training elapsed_time =       28.8
test_loss=0.12484129518270493
test_accuracy=0.9624000191688538
2500 train samples
57500 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1068 - accuracy: 0.9690
training elapsed_time =       31.2
test_loss=0.10684037208557129
test_accuracy=0.968999981880188

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
67     model4        2500      37.040409         0.9604
68     model1        2500      32.145436         0.9689
69     model2        2500      29.951904         0.9631
70     model3        2500      28.764642         0.9624
71     model4        2500      31.227845         0.9690

[72 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
2500 train samples
57500 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1239 - accuracy: 0.9664
training elapsed_time =       30.1
test_loss=0.12391144782304764
test_accuracy=0.9664000272750854
2500 train samples
57500 validation samples
10000 test samples
Epoch 14: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1372 - accuracy: 0.9619
training elapsed_time =       34.9
test_loss=0.1371687799692154
test_accuracy=0.961899995803833
2500 train samples
57500 validation samples
10000 test samples
Epoch 14: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1300 - accuracy: 0.9640
training elapsed_time =       36.2
test_loss=0.12998716533184052
test_accuracy=0.9639999866485596
2500 train samples
57500 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1240 - accuracy: 0.9625
training elapsed_time =       30.1
test_loss=0.12399566918611526
test_accuracy=0.9624999761581421

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
71     model4        2500      31.227845         0.9690
72     model1        2500      30.123392         0.9664
73     model2        2500      34.923801         0.9619
74     model3        2500      36.189926         0.9640
75     model4        2500      30.115248         0.9625

[76 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
2500 train samples
57500 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1219 - accuracy: 0.9650
training elapsed_time =       23.1
test_loss=0.12185367196798325
test_accuracy=0.9649999737739563
2500 train samples
57500 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1337 - accuracy: 0.9611
training elapsed_time =       24.7
test_loss=0.13372154533863068
test_accuracy=0.9610999822616577
2500 train samples
57500 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1175 - accuracy: 0.9672
training elapsed_time =       30.5
test_loss=0.11753586679697037
test_accuracy=0.967199981212616
2500 train samples
57500 validation samples
10000 test samples
Epoch 9: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1478 - accuracy: 0.9592
training elapsed_time =       31.0
test_loss=0.1477746069431305
test_accuracy=0.9592000246047974

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
75     model4        2500      30.115248         0.9625
76     model1        2500      23.105893         0.9650
77     model2        2500      24.678341         0.9611
78     model3        2500      30.469188         0.9672
79     model4        2500      30.995537         0.9592

[80 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
1200 train samples
58800 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2371 - accuracy: 0.9287
training elapsed_time =       29.4
test_loss=0.2371382862329483
test_accuracy=0.9286999702453613
1200 train samples
58800 validation samples
10000 test samples
Epoch 16: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2114 - accuracy: 0.9432
training elapsed_time =       39.2
test_loss=0.21136921644210815
test_accuracy=0.9431999921798706
1200 train samples
58800 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1963 - accuracy: 0.9446
training elapsed_time =       37.1
test_loss=0.19628220796585083
test_accuracy=0.944599986076355
1200 train samples
58800 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2374 - accuracy: 0.9310
training elapsed_time =       34.1
test_loss=0.23736721277236938
test_accuracy=0.9309999942779541

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
79     model4        2500      30.995537         0.9592
80     model1        1200      29.371284         0.9287
81     model2        1200      39.182709         0.9432
82     model3        1200      37.138042         0.9446
83     model4        1200      34.061134         0.9310

[84 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
1200 train samples
58800 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2037 - accuracy: 0.9348
training elapsed_time =       23.3
test_loss=0.20368792116641998
test_accuracy=0.9348000288009644
1200 train samples
58800 validation samples
10000 test samples
Epoch 14: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2364 - accuracy: 0.9341
training elapsed_time =       34.8
test_loss=0.23637819290161133
test_accuracy=0.9340999722480774
1200 train samples
58800 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2290 - accuracy: 0.9329
training elapsed_time =       32.3
test_loss=0.22902856767177582
test_accuracy=0.9329000115394592
1200 train samples
58800 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2022 - accuracy: 0.9505
training elapsed_time =       36.1
test_loss=0.2021513730287552
test_accuracy=0.9505000114440918

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
83     model4        1200      34.061134         0.9310
84     model1        1200      23.347696         0.9348
85     model2        1200      34.802697         0.9341
86     model3        1200      32.251429         0.9329
87     model4        1200      36.149231         0.9505

[88 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
1200 train samples
58800 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2124 - accuracy: 0.9353
training elapsed_time =       22.2
test_loss=0.21237969398498535
test_accuracy=0.9352999925613403
1200 train samples
58800 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2313 - accuracy: 0.9309
training elapsed_time =       27.5
test_loss=0.23125974833965302
test_accuracy=0.930899977684021
1200 train samples
58800 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2115 - accuracy: 0.9368
training elapsed_time =       30.2
test_loss=0.2115262895822525
test_accuracy=0.9368000030517578
1200 train samples
58800 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2044 - accuracy: 0.9456
training elapsed_time =       33.5
test_loss=0.20437699556350708
test_accuracy=0.9455999732017517

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
87     model4        1200      36.149231         0.9505
88     model1        1200      22.162649         0.9353
89     model2        1200      27.482847         0.9309
90     model3        1200      30.222712         0.9368
91     model4        1200      33.512917         0.9456

[92 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
1200 train samples
58800 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1912 - accuracy: 0.9415
training elapsed_time =       27.7
test_loss=0.1911502182483673
test_accuracy=0.9415000081062317
1200 train samples
58800 validation samples
10000 test samples
Epoch 17: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1984 - accuracy: 0.9470
training elapsed_time =       38.8
test_loss=0.19840824604034424
test_accuracy=0.9470000267028809
1200 train samples
58800 validation samples
10000 test samples
Epoch 17: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.1797 - accuracy: 0.9499
training elapsed_time =       39.1
test_loss=0.1796676367521286
test_accuracy=0.9498999714851379
1200 train samples
58800 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2501 - accuracy: 0.9350
training elapsed_time =       33.5
test_loss=0.2501240074634552
test_accuracy=0.9350000023841858

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
91     model4        1200      33.512917         0.9456
92     model1        1200      27.655250         0.9415
93     model2        1200      38.757412         0.9470
94     model3        1200      39.101979         0.9499
95     model4        1200      33.517739         0.9350

[96 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
600 train samples
59400 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2744 - accuracy: 0.9235
training elapsed_time =       39.5
test_loss=0.27442193031311035
test_accuracy=0.9235000014305115
600 train samples
59400 validation samples
10000 test samples
Epoch 16: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.3262 - accuracy: 0.9112
training elapsed_time =       35.5
test_loss=0.3262273073196411
test_accuracy=0.9111999869346619
600 train samples
59400 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 2s 5ms/step - loss: 0.3134 - accuracy: 0.9099
training elapsed_time =       30.7
test_loss=0.3134007453918457
test_accuracy=0.9099000096321106
600 train samples
59400 validation samples
10000 test samples
Epoch 12: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.3287 - accuracy: 0.9066
training elapsed_time =       37.3
test_loss=0.3287116587162018
test_accuracy=0.9065999984741211

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
95     model4        1200      33.517739         0.9350
96     model1         600      39.467771         0.9235
97     model2         600      35.460911         0.9112
98     model3         600      30.674804         0.9099
99     model4         600      37.323063         0.9066

[100 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
600 train samples
59400 validation samples
10000 test samples
Epoch 19: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2851 - accuracy: 0.9180
training elapsed_time =       35.5
test_loss=0.2851150333881378
test_accuracy=0.9179999828338623
600 train samples
59400 validation samples
10000 test samples
Epoch 17: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.3314 - accuracy: 0.9072
training elapsed_time =       38.6
test_loss=0.33144327998161316
test_accuracy=0.9071999788284302
600 train samples
59400 validation samples
10000 test samples
Epoch 14: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.3322 - accuracy: 0.9047
training elapsed_time =       32.5
test_loss=0.332233190536499
test_accuracy=0.904699981212616
600 train samples
59400 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.3266 - accuracy: 0.9096
training elapsed_time =       38.8
test_loss=0.32663413882255554
test_accuracy=0.909600019454956

    model_name  train_size  training_time  test_accuracy
0       model1       50000      23.973921         0.9917
1       model2       50000      49.130800         0.9893
2       model3       50000      46.421665         0.9917
3       model4       50000      52.340361         0.9922
4       model1       50000      24.637258         0.9903
..         ...         ...            ...            ...
99      model4         600      37.323063         0.9066
100     model1         600      35.501542         0.9180
101     model2         600      38.647165         0.9072
102     model3         600      32.460921         0.9047
103     model4         600      38.826896         0.9096

[104 rows x 4 columns]

Saving results to file data/CNN_DATA_2022-09-29_09_22.csv
600 train samples
59400 validation samples
10000 test samples
Epoch 20: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2915 - accuracy: 0.9174
training elapsed_time =       36.6
test_loss=0.2915057837963104
test_accuracy=0.9174000024795532
600 train samples
59400 validation samples
10000 test samples
Epoch 14: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.3534 - accuracy: 0.8993
training elapsed_time =       31.3
test_loss=0.35337480902671814
test_accuracy=0.8992999792098999
600 train samples
59400 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.3297 - accuracy: 0.9022
training elapsed_time =       33.6
test_loss=0.32965582609176636
test_accuracy=0.9021999835968018
600 train samples
59400 validation samples
10000 test samples

In [ ]:
df = pd.DataFrame(results)
df.columns=['model_name','train_size','training_time','test_accuracy']
display(df)