In [1]:
import pandas as pd
import numpy as np

In [2]:
%run load_mnist_dataset.py

In [3]:
## Script create_dense_model.py
import tensorflow as tf
import numpy as np
from tensorflow import keras
DIGIT_CLASSES = 10
RESHAPED = 28 * 28 ## 784 pixels per image
import time
from datetime import datetime


def create_dense_model(hidden_layers=1, hidden_units_per_layer=128):
    """
    create a keras sequential model with the specified
    number of hidden_layers and number of units per layer
    """
    DIGIT_CLASSES = 10
    RESHAPED = 28 * 28 ## 784 pixels per image
    model = tf.keras.models.Sequential()
    count = 0
    
    
    count += 1
    model.add(keras.layers.Dense(units=hidden_units_per_layer,
        input_shape=(RESHAPED,),
        name=f'dense_layer_{count}', activation='relu'))
    
    for i in range(1, hidden_layers):
        count += 1
        model.add(keras.layers.Dense(units=hidden_units_per_layer,
           name=f'dense_layer_{count}', activation='relu'))
        
    count += 1        
    model.add(keras.layers.Dense(DIGIT_CLASSES,
       name=f'dense_layer_{count}', activation='softmax'))

    return model


def run_dense_model(model_name=None, model_fn=None,  train_size=50000, optimizer='Adam', verbose=0):
    """
    Create and run a dense Keras sequential model over the MNIST training data,
    using the specified numbers of hidden_layers, hidden_units_per_layer, and optimizer.
    Maybe add optional dropout TBD,
    Return values:
    history, training_time, test_accuracy, model
    """
    from keras.callbacks import EarlyStopping
    early_stopping = EarlyStopping(monitor='val_loss',verbose=1,patience=3,min_delta=0.0001)
    
    BATCH_SIZE = 128
    EPOCHS = 400
    
    ## Load the training, validation, and test data
    X_train, X_valid, X_test, Y_train, Y_valid, Y_test = load_mnist_dataset(train_size=train_size, flatten=True)
    
    model = model_fn()
    
    start_time = time.time()

    # compiling the model
    model.compile(optimizer=optimizer, 
              loss='categorical_crossentropy',
              metrics=['accuracy'])

    #training the model
    history = model.fit(X_train, Y_train,
                        batch_size=BATCH_SIZE, epochs=EPOCHS,
                        verbose=verbose,  validation_data=(X_valid,Y_valid),
                        callbacks=[early_stopping]
                       )
    
    elapsed_time = time.time() - start_time
    
    test_loss, test_accuracy = model.evaluate(X_test, Y_test)
    print(f'training elapsed_time = {elapsed_time:10.1f}')
    print('Test accuracy:', test_accuracy)
    
    return [model_name, train_size, elapsed_time, test_accuracy]

In [4]:
## The most accurate Dense model from earlier testing appeared to be
## the model with 1 hidden layer of 192 unit, and using the Adam Optimizer, but no Dropout.

## We will re-create that model here, and train it with successively smaller training sets,
## in order to compare it with the CNN models on the same data sets.

## model5 = create_dense_model(hidden_layers=1, hidden_units_per_layer=192)

def create_Model5_Dense_1_Hidden_Layer():
    model = create_dense_model(hidden_layers=1, hidden_units_per_layer=192)
    return model

model5 = create_Model5_Dense_1_Hidden_Layer()
model5.summary()
model5 = create_Model5_Dense_1_Hidden_Layer

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_layer_1 (Dense)       (None, 192)               150720

 dense_layer_2 (Dense)       (None, 10)                1930

=================================================================
Total params: 152,650
Trainable params: 152,650
Non-trainable params: 0
_________________________________________________________________

In [5]:
## Create a model_set, to reuse existing code to train and evaluate the dense model
## over a range of training sample sizes.
model_set = [
             ('model5',model5),
            ]

train_sizes = [50000, 20000, 10000, 5000, 2500, 1200, 600, 450, 300]

def run_model_set_size(train_sizes=[50000], model_set=None, repeat=1):
    now = datetime.now()
    result_name = now.strftime("data/CNN_DATA_%Y-%m-%d_%H_%M.csv")
    results = []
    for train_size in train_sizes:
        for i in range(repeat):
            for model_name, model in model_set:
                result = run_dense_model(model_name=model_name, model_fn=model, train_size=train_size)
                results.append(result)
            df = pd.DataFrame(results)
            df.columns=['model_name','train_size','training_time','test_accuracy']
            display(df)
            print(f'Saving results to file {result_name}')
            df.to_csv(result_name,index=False)
    return results

results = run_model_set_size(train_sizes, model_set = model_set, repeat=4)

50000 train samples
10000 validation samples
10000 test samples
Epoch 10: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.0824 - accuracy: 0.9773
training elapsed_time =       14.2
Test accuracy: 0.9772999882698059

  model_name  train_size  training_time  test_accuracy
0     model5       50000       14.21803         0.9773

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
50000 train samples
10000 validation samples
10000 test samples
Epoch 14: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.0769 - accuracy: 0.9781
training elapsed_time =       20.6
Test accuracy: 0.9781000018119812

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
50000 train samples
10000 validation samples
10000 test samples
Epoch 16: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.0745 - accuracy: 0.9787
training elapsed_time =       22.8
Test accuracy: 0.9786999821662903

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781
2     model5       50000      22.752473         0.9787

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
50000 train samples
10000 validation samples
10000 test samples
Epoch 11: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.0735 - accuracy: 0.9763
training elapsed_time =       16.0
Test accuracy: 0.9763000011444092

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781
2     model5       50000      22.752473         0.9787
3     model5       50000      15.953516         0.9763

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
20000 train samples
40000 validation samples
10000 test samples
Epoch 18: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1132 - accuracy: 0.9685
training elapsed_time =       23.2
Test accuracy: 0.968500018119812

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781
2     model5       50000      22.752473         0.9787
3     model5       50000      15.953516         0.9763
4     model5       20000      23.176431         0.9685

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
20000 train samples
40000 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1200 - accuracy: 0.9651
training elapsed_time =       19.4
Test accuracy: 0.9650999903678894

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781
2     model5       50000      22.752473         0.9787
3     model5       50000      15.953516         0.9763
4     model5       20000      23.176431         0.9685
5     model5       20000      19.400879         0.9651

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
20000 train samples
40000 validation samples
10000 test samples
Epoch 13: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1057 - accuracy: 0.9694
training elapsed_time =       16.9
Test accuracy: 0.9693999886512756

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781
2     model5       50000      22.752473         0.9787
3     model5       50000      15.953516         0.9763
4     model5       20000      23.176431         0.9685
5     model5       20000      19.400879         0.9651
6     model5       20000      16.895140         0.9694

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
20000 train samples
40000 validation samples
10000 test samples
Epoch 17: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1104 - accuracy: 0.9700
training elapsed_time =       22.8
Test accuracy: 0.9700000286102295

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781
2     model5       50000      22.752473         0.9787
3     model5       50000      15.953516         0.9763
4     model5       20000      23.176431         0.9685
5     model5       20000      19.400879         0.9651
6     model5       20000      16.895140         0.9694
7     model5       20000      22.754974         0.9700

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
10000 train samples
50000 validation samples
10000 test samples
Epoch 18: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1625 - accuracy: 0.9534
training elapsed_time =       23.4
Test accuracy: 0.9534000158309937

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781
2     model5       50000      22.752473         0.9787
3     model5       50000      15.953516         0.9763
4     model5       20000      23.176431         0.9685
5     model5       20000      19.400879         0.9651
6     model5       20000      16.895140         0.9694
7     model5       20000      22.754974         0.9700
8     model5       10000      23.394137         0.9534

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
10000 train samples
50000 validation samples
10000 test samples
Epoch 20: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1620 - accuracy: 0.9537
training elapsed_time =       26.5
Test accuracy: 0.9537000060081482

  model_name  train_size  training_time  test_accuracy
0     model5       50000      14.218030         0.9773
1     model5       50000      20.612055         0.9781
2     model5       50000      22.752473         0.9787
3     model5       50000      15.953516         0.9763
4     model5       20000      23.176431         0.9685
5     model5       20000      19.400879         0.9651
6     model5       20000      16.895140         0.9694
7     model5       20000      22.754974         0.9700
8     model5       10000      23.394137         0.9534
9     model5       10000      26.489734         0.9537

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
10000 train samples
50000 validation samples
10000 test samples
Epoch 20: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1685 - accuracy: 0.9519
training elapsed_time =       25.6
Test accuracy: 0.9519000053405762

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
10000 train samples
50000 validation samples
10000 test samples
Epoch 19: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.1657 - accuracy: 0.9540
training elapsed_time =       25.1
Test accuracy: 0.9539999961853027

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
5000 train samples
55000 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2169 - accuracy: 0.9394
training elapsed_time =       29.8
Test accuracy: 0.9394000172615051

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
5000 train samples
55000 validation samples
10000 test samples
Epoch 15: early stopping
313/313 [==============================] - 1s 4ms/step - loss: 0.2213 - accuracy: 0.9340
training elapsed_time =       20.3
Test accuracy: 0.9340000152587891

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
5000 train samples
55000 validation samples
10000 test samples
Epoch 20: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2166 - accuracy: 0.9368
training elapsed_time =       27.6
Test accuracy: 0.9368000030517578

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
5000 train samples
55000 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2131 - accuracy: 0.9394
training elapsed_time =       29.8
Test accuracy: 0.9394000172615051

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
2500 train samples
57500 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2905 - accuracy: 0.9162
training elapsed_time =       29.0
Test accuracy: 0.9161999821662903

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
2500 train samples
57500 validation samples
10000 test samples
Epoch 19: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2865 - accuracy: 0.9160
training elapsed_time =       25.2
Test accuracy: 0.9160000085830688

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
2500 train samples
57500 validation samples
10000 test samples
Epoch 21: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2915 - accuracy: 0.9146
training elapsed_time =       27.8
Test accuracy: 0.9146000146865845

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
2500 train samples
57500 validation samples
10000 test samples
Epoch 19: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.2938 - accuracy: 0.9140
training elapsed_time =       25.3
Test accuracy: 0.9139999747276306

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
1200 train samples
58800 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.3653 - accuracy: 0.8899
training elapsed_time =       29.1
Test accuracy: 0.8899000287055969

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
1200 train samples
58800 validation samples
10000 test samples
Epoch 21: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.3727 - accuracy: 0.8909
training elapsed_time =       27.5
Test accuracy: 0.8909000158309937

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
1200 train samples
58800 validation samples
10000 test samples
Epoch 20: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.3604 - accuracy: 0.8894
training elapsed_time =       26.1
Test accuracy: 0.8894000053405762

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
1200 train samples
58800 validation samples
10000 test samples
Epoch 17: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.3701 - accuracy: 0.8880
training elapsed_time =       22.3
Test accuracy: 0.8880000114440918

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
600 train samples
59400 validation samples
10000 test samples
Epoch 21: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.4722 - accuracy: 0.8566
training elapsed_time =       27.2
Test accuracy: 0.8565999865531921

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
600 train samples
59400 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.4656 - accuracy: 0.8588
training elapsed_time =       28.4
Test accuracy: 0.8587999939918518

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
600 train samples
59400 validation samples
10000 test samples
Epoch 20: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.4574 - accuracy: 0.8588
training elapsed_time =       26.0
Test accuracy: 0.8587999939918518

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
600 train samples
59400 validation samples
10000 test samples
Epoch 23: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.4638 - accuracy: 0.8600
training elapsed_time =       29.8
Test accuracy: 0.8600000143051147

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
450 train samples
59550 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.5622 - accuracy: 0.8319
training elapsed_time =       28.4
Test accuracy: 0.8319000005722046

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600
28     model5         450      28.384347         0.8319

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
450 train samples
59550 validation samples
10000 test samples
Epoch 25: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.5712 - accuracy: 0.8276
training elapsed_time =       32.3
Test accuracy: 0.8276000022888184

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600
28     model5         450      28.384347         0.8319
29     model5         450      32.274613         0.8276

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
450 train samples
59550 validation samples
10000 test samples
Epoch 25: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.5576 - accuracy: 0.8312
training elapsed_time =       32.2
Test accuracy: 0.8312000036239624

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600
28     model5         450      28.384347         0.8319
29     model5         450      32.274613         0.8276
30     model5         450      32.183097         0.8312

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
450 train samples
59550 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.5777 - accuracy: 0.8255
training elapsed_time =       28.3
Test accuracy: 0.8255000114440918

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600
28     model5         450      28.384347         0.8319
29     model5         450      32.274613         0.8276
30     model5         450      32.183097         0.8312
31     model5         450      28.312823         0.8255

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
300 train samples
59700 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.6594 - accuracy: 0.7940
training elapsed_time =       28.2
Test accuracy: 0.7940000295639038

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600
28     model5         450      28.384347         0.8319
29     model5         450      32.274613         0.8276
30     model5         450      32.183097         0.8312
31     model5         450      28.312823         0.8255
32     model5         300      28.155860         0.7940

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
300 train samples
59700 validation samples
10000 test samples
Epoch 18: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.6719 - accuracy: 0.7860
training elapsed_time =       23.4
Test accuracy: 0.7860000133514404

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600
28     model5         450      28.384347         0.8319
29     model5         450      32.274613         0.8276
30     model5         450      32.183097         0.8312
31     model5         450      28.312823         0.8255
32     model5         300      28.155860         0.7940
33     model5         300      23.430303         0.7860

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
300 train samples
59700 validation samples
10000 test samples
Epoch 22: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.6848 - accuracy: 0.7965
training elapsed_time =       28.3
Test accuracy: 0.796500027179718

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600
28     model5         450      28.384347         0.8319
29     model5         450      32.274613         0.8276
30     model5         450      32.183097         0.8312
31     model5         450      28.312823         0.8255
32     model5         300      28.155860         0.7940
33     model5         300      23.430303         0.7860
34     model5         300      28.318739         0.7965

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv
300 train samples
59700 validation samples
10000 test samples
Epoch 27: early stopping
313/313 [==============================] - 1s 3ms/step - loss: 0.6516 - accuracy: 0.8002
training elapsed_time =       34.7
Test accuracy: 0.8001999855041504

   model_name  train_size  training_time  test_accuracy
0      model5       50000      14.218030         0.9773
1      model5       50000      20.612055         0.9781
2      model5       50000      22.752473         0.9787
3      model5       50000      15.953516         0.9763
4      model5       20000      23.176431         0.9685
5      model5       20000      19.400879         0.9651
6      model5       20000      16.895140         0.9694
7      model5       20000      22.754974         0.9700
8      model5       10000      23.394137         0.9534
9      model5       10000      26.489734         0.9537
10     model5       10000      25.648058         0.9519
11     model5       10000      25.090132         0.9540
12     model5        5000      29.805315         0.9394
13     model5        5000      20.316440         0.9340
14     model5        5000      27.553322         0.9368
15     model5        5000      29.809510         0.9394
16     model5        2500      28.959851         0.9162
17     model5        2500      25.227352         0.9160
18     model5        2500      27.758525         0.9146
19     model5        2500      25.302246         0.9140
20     model5        1200      29.051802         0.8899
21     model5        1200      27.511420         0.8909
22     model5        1200      26.149928         0.8894
23     model5        1200      22.306117         0.8880
24     model5         600      27.197783         0.8566
25     model5         600      28.350094         0.8588
26     model5         600      25.950762         0.8588
27     model5         600      29.777058         0.8600
28     model5         450      28.384347         0.8319
29     model5         450      32.274613         0.8276
30     model5         450      32.183097         0.8312
31     model5         450      28.312823         0.8255
32     model5         300      28.155860         0.7940
33     model5         300      23.430303         0.7860
34     model5         300      28.318739         0.7965
35     model5         300      34.689329         0.8002

Saving results to file data/CNN_DATA_2022-10-01_17_56.csv

In [8]:
import pandas as pd
df1 = pd.read_csv('data/CNN_COMPARE_TRAINING_SET_SIZE.csv')
df2 = pd.read_csv('data/CNN_DATA_2022-10-01_17_56.csv')
df = pd.concat([df1,df2])
df.drop(df.columns[0],axis=1,inplace=True)
df

   model_name  train_size  training_time  test_accuracy
0      model1       50000      23.973921         0.9917
1      model2       50000      49.130800         0.9893
2      model3       50000      46.421665         0.9917
3      model4       50000      52.340361         0.9922
4      model1       50000      24.637258         0.9903
..        ...         ...            ...            ...
31     model5         450      28.312823         0.8255
32     model5         300      28.155860         0.7940
33     model5         300      23.430303         0.7860
34     model5         300      28.318739         0.7965
35     model5         300      34.689329         0.8002

[172 rows x 4 columns]

In [25]:
import numpy as np
grouped = df.groupby(['model_name','train_size'])
averages = grouped[['training_time','test_accuracy']].aggregate(np.mean)
averages.reset_index(inplace=True)
averages

   model_name  train_size  training_time  test_accuracy
0      model1         300      32.856159       0.852675
1      model1         450      29.092179       0.873050
2      model1         600      37.484657       0.920750
3      model1        1200      25.634220       0.935075
4      model1        2500      28.482949       0.966700
5      model1        5000      25.949396       0.976375
6      model1       10000      21.590354       0.982175
7      model1       20000      24.930123       0.986750
8      model1       50000      27.671751       0.990900
9      model2         300      33.456769       0.815675
10     model2         450      33.033555       0.859100
11     model2         600      37.054038       0.909200
12     model2        1200      35.056416       0.938800
13     model2        2500      31.634239       0.962150
14     model2        5000      33.096842       0.972725
15     model2       10000      29.688855       0.981200
16     model2       20000      28.113005       0.985200
17     model2       50000      37.380105       0.990100
18     model3         300      33.537348       0.832275
19     model3         450      33.222427       0.873675
20     model3         600      31.567863       0.907300
21     model3        1200      34.678540       0.941050
22     model3        2500      32.465008       0.963975
23     model3        5000      32.550855       0.973550
24     model3       10000      24.740980       0.982550
25     model3       20000      28.183240       0.985975
26     model3       50000      42.297556       0.990500
27     model4         300      47.753059       0.858800
28     model4         450      42.911937       0.882275
29     model4         600      38.074979       0.908100
30     model4        1200      34.310255       0.940525
31     model4        2500      32.344760       0.962775
32     model4        5000      32.849011       0.968575
33     model4       10000      33.962024       0.980700
34     model4       20000      37.895263       0.987800
35     model4       50000      48.852905       0.991850
36     model5         300      28.648558       0.794175
37     model5         450      30.288720       0.829050
38     model5         600      27.818924       0.858550
39     model5        1200      26.254817       0.889550
40     model5        2500      26.811994       0.915200
41     model5        5000      26.871147       0.937400
42     model5       10000      25.155516       0.953250
43     model5       20000      20.556856       0.968250
44     model5       50000      18.384018       0.977600

In [26]:
averages.drop(averages.columns[2],axis=1,inplace=True)
averages.to_csv('data/MEAN_ACCURACY_BY_MODEL_AND_TRAINING_SIZE.csv',index=False)
averages

   model_name  train_size  test_accuracy
0      model1         300       0.852675
1      model1         450       0.873050
2      model1         600       0.920750
3      model1        1200       0.935075
4      model1        2500       0.966700
5      model1        5000       0.976375
6      model1       10000       0.982175
7      model1       20000       0.986750
8      model1       50000       0.990900
9      model2         300       0.815675
10     model2         450       0.859100
11     model2         600       0.909200
12     model2        1200       0.938800
13     model2        2500       0.962150
14     model2        5000       0.972725
15     model2       10000       0.981200
16     model2       20000       0.985200
17     model2       50000       0.990100
18     model3         300       0.832275
19     model3         450       0.873675
20     model3         600       0.907300
21     model3        1200       0.941050
22     model3        2500       0.963975
23     model3        5000       0.973550
24     model3       10000       0.982550
25     model3       20000       0.985975
26     model3       50000       0.990500
27     model4         300       0.858800
28     model4         450       0.882275
29     model4         600       0.908100
30     model4        1200       0.940525
31     model4        2500       0.962775
32     model4        5000       0.968575
33     model4       10000       0.980700
34     model4       20000       0.987800
35     model4       50000       0.991850
36     model5         300       0.794175
37     model5         450       0.829050
38     model5         600       0.858550
39     model5        1200       0.889550
40     model5        2500       0.915200
41     model5        5000       0.937400
42     model5       10000       0.953250
43     model5       20000       0.968250
44     model5       50000       0.977600